#main-title {
    margin-top: 5%;
}

#top-row{
    padding: 2em 2em 2em 2em;
    margin-bottom: 4em;
    min-height: 25%;
}

#input-field{
    min-width: 25%;
}
.table{
    margin-top: 2em 2em 2em 2em;
    max-width: 60%;
    border: 1px solid #000000;
    border-radius: 10px;;
    
}

#main-row {
    padding: 2em 2em 2em 2em;
    margin-bottom: 4em;
    min-height: 20%;
}

